<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/calendar.css">
    <link rel="stylesheet" href="css/loadmore.css">
    <title>Vista Lab Dashboard</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Island+Moments&display=swap');
    </style>
</head>
<body>
<!-- header -->
<div class="header">
    <h1>Hello, Yumin, Start planning today</h1>
</div>
<!-- dashboard -->
<div class="dashboard-container">
    <!-- mainr -->
    <div class="main">
        <!-- date -->
        <div class="date">
            <div class="day-section">
                <h2 id="day-name"></h2>
            </div>
            <div class="date-section">
                <h2 id="full-date"></h2>
            </div>
            <div class="calendar">
            </div>
        </div>
        <!-- todoList -->
        <div class="todoList">
            <!-- create task -->
            <div class="create-task">
                <div>
                    <input type="text" id="task-title" placeholder="Type Title of task">
                    <input type="text" id="task-detail" placeholder="Detail of your task">
                    <input type="date" id="task-start">  <!-- 날짜 입력 추가 -->
                </div>
                <button type="submit" id="add-task-btn">+</button>
            </div>
            <!-- task section -->
            <div class="task-section">
            </div>
            <!-- load more button -->
            <div class="task-load">
                <button type="button" id="load-more-btn">
                    <p>load more</p>
                </button>
            </div>
        </div>
    </div>
    <!-- stats -->
    <div class="stats">
        <!-- tasks status -->
        <div class="tasks-stats">
            <div class="stats-box" id="stats-complete">
                <div class="stats-type">
                    <p><strong>Completed</strong></p>
                    <p><strong>Tasks</strong></p>
                </div>
                <p class="stats-count">0</p>
            </div>
            <div class="stats-box" id="stats-pending">
                <div class="stats-type">
                    <p><strong>Pending</strong></p>
                    <p><strong>Tasks</strong></p>
                </div>
                <p class="stats-count">0</p>
            </div>
        </div>
        <!-- total tasks -->
        <div class="stats-box" id="stats-created">
            <div class="stats-type">
                <p><strong>Tasks Created</strong></p>
            </div>
            <p class="stats-count">0</p>
        </div>
    </div>
</div>
<!-- footer -->
<div class="footer">
    <p>&copy; 2025 Yumin. All Rights Reserved.</p>
</div>
<!-- script -->
<script src="javascript/todayDate.js"></script>
<script src="javascript/calendar.js"></script>
<script src="javascript/fetchTasks.js"></script>  <!-- fetchTasks vs todayTasks -->
<script src="javascript/tasksStats.js"></script>
<script src="javascript/createTask.js"></script>
<script src="javascript/loadmore.js"></script>
<script src="javascript/taskComplete.js"></script>
</body>
</html>