<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="calendar.css">
    <title>Vista Lab Dashboard</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Island+Moments&display=swap');
    </style>
</head>
<body>

<div class="header">
    <h1>Hello, Yumin, Start planning today</h1>
</div>

<div class="dashboard-container">
    <div class="main">
        <div class="date">
            <div class="day-section">
                <h2 id="day-name"></h2>
            </div>

            <div class="date-section">
                <h2 id="full-date"></h2>
            </div>

            <div class="calendar">
            </div>
        </div>

        <div class="todoList">
            <div class="create-task">
                <div>
                    <input type="text" id="task-title" placeholder="Type Title of task">
                    <input type="text" id="task-detail" placeholder="Detail of your task">
                    <input type="date" id="task-start">  <!-- 날짜 입력 추가 -->
                </div>
                <button type="submit" id="add-task-btn">+</button>
            </div>

            <div class="task-section">
                <div class="task-card">
                    <div class="task-contents">
                        <h3>Learn JavaScript</h3>
                        <div class="task-info">
                            <p>투두 내용 detail이 들어갈 자리 글이 길어지면 다음 줄로 넘어가게 됨</p>
                        </div>
                        <div class="task-date">
                            <p>Date: 04-04-2023</p>
                        </div>
                    </div>
                    <div class="task-button-container">
                        <button type = "button", class="task-delete">
                            <img src="img/delete.svg" width="30px" height="35px"></button>
                        <button type = "button", class="task-edit">
                            <img src="img/edit.svg" width="30px" height="30px"></button>
                        </button>
                        <button type = "button", class="task-complete">
                            <img src="img/check.svg" width="35px" height="35px"></button>
                        </button>
                    </div>
                </div>

                <div class="task-card">
                    <div class="task-contents">
                        <h3>Learn JavaScript</h3>
                        <div class="task-info">
                            <p>투두 내용 detail이 들어갈 자리 글이 길어지면 다음 줄로 넘어가게 됨</p>
                        </div>
                        <div class="task-date">
                            <p>Date: 04-04-2023</p>
                        </div>
                    </div>
                    <div class="task-button-container">
                        <button type = "button", class="task-delete">
                            <img src="img/delete.svg" width="30px" height="35px"></button>
                        <button type = "button", class="task-edit">
                            <img src="img/edit.svg" width="30px" height="30px"></button>
                        </button>
                        <button type = "button", class="task-complete">
                            <img src="img/check.svg" width="35px" height="35px"></button>
                        </button>
                    </div>
                </div>

                <div class="task-card">
                    <div class="task-contents">
                        <h3>Learn JavaScript</h3>
                        <div class="task-info">
                            <p>투두 내용 detail이 들어갈 자리 글이 길어지면 다음 줄로 넘어가게 됨</p>
                        </div>
                        <div class="task-date">
                            <p>Date: 04-04-2023</p>
                        </div>
                    </div>
                    <div class="task-button-container">
                        <button type = "button", class="task-delete">
                            <img src="img/delete.svg" width="30px" height="35px"></button>
                        <button type = "button", class="task-edit">
                            <img src="img/edit.svg" width="30px" height="30px"></button>
                        </button>
                        <button type = "button", class="task-complete">
                            <img src="img/check.svg" width="35px" height="35px"></button>
                        </button>
                    </div>
                </div>

                <div class="task-card">
                    <div class="task-contents">
                        <h3>Learn JavaScript</h3>
                        <div class="task-info">
                            <p>투두 내용 detail이 들어갈 자리 글이 길어지면 다음 줄로 넘어가게 됨</p>
                        </div>
                        <div class="task-date">
                            <p>Date: 04-04-2023</p>
                        </div>
                    </div>
                    <div class="task-button-container">
                        <button type = "button", class="task-delete">
                            <img src="img/delete.svg" width="30px" height="35px"></button>
                        <button type = "button", class="task-edit">
                            <img src="img/edit.svg" width="30px" height="30px"></button>
                        </button>
                        <button type = "button", class="task-complete">
                            <img src="img/check.svg" width="35px" height="35px"></button>
                        </button>
                    </div>
                </div>
            </div>

            <div class="task-load">
                <button type="button">
                    <p>load more</p>
                </button>
            </div>

        </div>
    </div>

    <div class="stats">
        <div class="tasks-stats">
            <div class="stats-box" id="stats-complete">
                <div class="stats-type">
                    <p><strong>Completed</strong></p>
                    <p><strong>Tasks</strong></p>
                </div>
                <p class="stats-count">4</p>
            </div>
            <div class="stats-box" id="stats-pending">
                <div class="stats-type">
                    <p><strong>Pending</strong></p>
                    <p><strong>Tasks</strong></p>
                </div>
                <p class="stats-count">15</p>
            </div>
        </div>
        <div class="stats-box" id="stats-created">
            <div class="stats-type">
                <p><strong>Tasks Created</strong></p>
            </div>
            <p class="stats-count">1,500</p>
        </div>
    </div>
</div>

<div class="footer">
    <p>&copy; 2025 Yumin. All Rights Reserved.</p>
</div>

<script src="todayDate.js"></script>
<script src="calendar.js"></script>
<script src="todayTasks.js"></script>
</body>
</html>
